.comment-container {
    margin: 3px;
    background: #F5F5F5;
    border-radius: 20px;
}

.comment-text {
    padding: 20;
    margin: 10px;
    font-size: 32px;
}

.comment-time {
    margin: 10px;
}