.detail-container {
  display: flex;
	border-top: 1px solid black;
}

.detail-left {
	width: 50%;
	border-right: 1px solid black;
}

.detail-title {
	font-size: 80px;
}

.detail-right {
	width: 50%;
}

.info-container{
	margin: 100px;
}