.home-container {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.display {
	flex-grow: 1;
}
.report {
	position: sticky;
	top: 50px;
	height: 500px;
	padding: 0 50px;
	margin: 50px;
	border-radius: 5px;
	border: 1px solid black;
}
.report-title {
	font-size: 50px;
	margin: 50px;
	text-align: center;
}
.report-form {
	margin: auto;
	display: flex;
	flex-direction: column;
}