.home-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	border-color:black;
}
.display {
	flex-grow: 1;
}
.report {
	height: 600px;
	position: sticky;
	top: 50px;
	padding: 0 50px;
	margin: 50px;
	border-radius: 5px;
	border: 1px solid black;
}
.report-title {
	font-size: 50px;
	margin: 50px;
	text-align: center;
}
.report-form {
	height: 600px;
	position: relative;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.submit {
	/* position: absolute;
	bottom: 100px;
	text-align: center;
	color: #000; */
	margin: 20px;
}

.upload-image {
  margin-left: 10px;
}

.select {
	margin: 8px;
}
