.nav-container {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-left: 58px;
    padding-right: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 1px solid#AFAFAF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffefcc;
}

.font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.icon-container {
    display: flex;
    align-items: center;
    /* float: right; */
}

.icon-container .icon {
    margin: 20px;
    height: 65px;
    width: 65px;
}

a {
    text-decoration: None;
}

.icon-container .logout {
    margin: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    align-items: center;
    color: #000000;
}